{% extends 'layout.html.twig' %}

{% set form_enabled = enabled %}

{% macro formTextField(field) %}
    <div class="form-field">
        <div class="form-label">
            {{ form_label(field) }}:{% if field.vars.required %} *{% endif %}
        </div>
        <div class="form-text-field{% if field.vars.errors is not empty %} has-error{% endif %}">
            {{ form_widget(field) }}
        </div>
        {% if field.vars.errors is not empty %}
            <div class="form-field-error">
                {% for error in field.vars.errors %}
                    {{ error.message }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro formCheckboxField(field) %}
    <div class="form-field{% if field.vars.errors is not empty %} has-error{% endif %}">
        <div class="form-checkbox-field">
            {{ form_widget(field) }} <label
                    for="{{ field.vars.id }}">{{ field.vars.label | raw }}{% if field.vars.required %} *{% endif %}</label>
        </div>
        {% if field.vars.errors is not empty %}
            <div class="form-field-error">
                {% for error in field.vars.errors %}
                    {{ error.message }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% if not form_enabled or not form.vars.submitted %}
            <div class="col-md-8">
                {% if slug != current_list.slug %}
                    <div class="alert-kpn alert p-4">
                        <p>
                            Máte zobrazenú staršiu výzvu z minulosti.
                        </p>
                        <a href="/">Zobraziť aktuálnu výzvu</a>
                    </div>
                {% endif %}

                <div class="perex">
                    <p class="perex-intro mb-3">{{ intro }}</p>
                    <div class="mb-5">
                        <a href="#podpisat-vyhlasenie" class="signature-button">Podpísať výzvu</a>
                    </div>
                    <h1 class="perex-title">{{ title }}</h1>

                    {% if perex is not empty %}
                        <p class="perex-text">
                            {{ perex }}
                        </p>
                    {% endif %}
                </div>
                {% if perex is not empty %}
                    <hr style="max-width: 740px;">
                {% endif %}


                <div class="body">
                    {% include 'Homepage/_body/' ~ body_template %}
                </div>
            </div>
            {% if form_enabled %}
                <div class="col-md-4">

                    {#                    <a href="#podpisat-vyhlasenie" class="signature-button">Podpísať výzvu</a> #}

                    <h2 class="signatures-title">Podpísaní ({{ signatures_count }}):</h2>

                    <div class="signatures-list">
                        {% for signature in last_signatures %}
                            {% if signature.display == 'full' %}
                                {{ signature.firstName }} {{ signature.lastName }}{%- if signature.occupation is not null -%}
                                <i>, {{ signature.occupation }}</i>{%- endif -%}<br>
                            {% elseif signature.display == 'first_name_and_occupation' %}
                                {{ signature.firstName }}{%- if signature.occupation is not null -%}
                                <i>, {{ signature.occupation }}</i>{%- endif -%}<br>
                            {% else %}
                                <i>skrytý podpis</i><br>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <a href="{{ url('list', {slug: slug}) }}" class="signatures-all-link">Všetci podpísaní &gt;</a>

                    <div class="mt-5">
                        {#                        <a href="#podpisat-vyhlasenie" class="signature-button">Podpísať výzvu</a> #}
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
            {% endif %}
        </div>
        <div class="row">

            {% endif %}
            {% if form_enabled %}
                <div class="col-12">
                    <div class="form-holder">
                        <div class="row">
                            {% if not form.vars.submitted %}
                                <div class="col-md-5">
                                    <div class="form-title-holder" style="max-width: 280px;  margin: 0 auto;">
                                        <h2 class="form-title">
                                            <div><span>Podpísať<small>výzvu</small></span></div>
                                        </h2>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-md-7" id="podpisat-vyhlasenie">
                                <div class="form-form-holder" style="max-width: 500px; margin: 0 auto;">
                                    {% if form.vars.submitted %}
                                        <h2 class="form-title-simple">Podpísať výzvu</h2>
                                    {% endif %}

                                    {{ form_start(form) }}
                                    {% if form.vars.errors.form.getErrors(true) is not empty %}
                                        <div class="form-errors">
                                            Prosím, vyplňte všetky povinné údaje.
                                        </div>
                                    {% endif %}

                                    {{ _self.formTextField(form.first_name) }}
                                    {{ _self.formTextField(form.last_name) }}
                                    {{ _self.formTextField(form.occupation) }}
                                    {{ _self.formTextField(form.email) }}
                                    {{ _self.formTextField(form.city) }}

                                    <hr class="mb-3 mt-4"/>
                                    {{ _self.formTextField(form.display) }}
                                    <hr class="mb-4 mt-3"/>

                                    {{ _self.formCheckboxField(form.agree_with_support_statement) }}
                                    {{ _self.formCheckboxField(form.agree_with_contact_later) }}

                                    <small class="form-required-label">* Povinné údaje</small>
                                    <div class="form-submit-field">
                                        {{ form_widget(form.sign) }}
                                        <div class="form-button-description">po odoslaní príde email na overenie
                                            podpisu
                                        </div>
                                    </div>
                                    {{ form_end(form) }}


                                    <script type="text/javascript">
                                        (function () {
                                            var fields = ['signature_first_name', 'signature_last_name', 'signature_occupation'];
                                            var values = {};
                                            var display = '';

                                            function renderDisplayExample() {
                                                var fullNameParts = [];

                                                if ('' !== values.signature_first_name.trim()) {
                                                    fullNameParts.push(values.signature_first_name);
                                                }

                                                if ('' !== values.signature_last_name.trim()) {
                                                    fullNameParts.push(values.signature_last_name);
                                                }

                                                document.getElementById('signature-example-full').innerHTML = (fullNameParts.length > 0 ? fullNameParts.join(' ') : 'Jozef Mrkvička') +
                                                    (fullNameParts.length === 0 ? ', tesár' : ('' === values.signature_occupation ? '' : (', ' + values.signature_occupation)));

                                                document.getElementById('signature-example-first-name').innerHTML = ('' === values.signature_first_name ? 'Mária' : values.signature_first_name) +
                                                    ('' === values.signature_first_name ? ', matka v domácnosti' : ('' === values.signature_occupation ? '' : (', ' + values.signature_occupation)));
                                            }

                                            var radios = document.getElementsByName('signature[display]');

                                            for (i = 0; i < radios.length; i++) {
                                                if (radios[i].checked) {
                                                    display = radios[i].value;
                                                }

                                                radios[i].addEventListener('change', function () {
                                                    console.log('Selected value: ' + this.value);
                                                });
                                            }

                                            for (i = 0; i < fields.length; i++) {
                                                var field = fields[i];

                                                values[field] = document.getElementById(field).value;

                                                document.getElementById(field).addEventListener('input', function (event) {
                                                    values[event.target.id] = document.getElementById(event.target.id).value;
                                                    renderDisplayExample();
                                                });
                                            }

                                            renderDisplayExample();
                                        })();
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
