{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="article">
            <h1 class="signatures-titles">Zoznam všetkých podpísaných ({{ signatures_count }})</h1>

            <p>
                <a href="{{ path('homepage', {slug: slug}) }}">Naspäť na text výzvy</a>
            </p>

            <div class="signatures-list">
                <div class="row">
                    {% set nr_of_columns = 3 %}
                    {% set column_class = 'col-sm-' ~ (12 / nr_of_columns)|round(0) %}
                    {% set column_indices = [] %}

                    <div class="{{ column_class }}">
                        {% for i in 1..(nr_of_columns-1) %}
                            {% set column_indices = column_indices|merge([(visible_signatures_count / nr_of_columns * i)|round(0, 'floor')]) %}
                        {% endfor %}
                        {% for signature in signatures %}

                        {% if signature.display == 'full' %}
                            {{ signature.firstName }} {{ signature.lastName }}{%- if signature.occupation is not null -%}
                            <i>, {{ signature.occupation }}</i>{%- endif -%}<br>
                        {% elseif signature.display == 'first_name_and_occupation' %}
                            {{ signature.firstName }}{%- if signature.occupation is not null -%}
                            <i>, {{ signature.occupation }}</i>{%- endif -%}<br>
                        {% else %}
                            <i style="opacity: 0.5">skrytý podpis</i><br>
                        {% endif %}

                        {% if loop.index in column_indices %}
                    </div>
                    <div class="{{ column_class }}">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
