<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89055843-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-89055843-2');
        </script>

        {% set meta_title = 'Kresťania proti nenávisti' %}
        {% set meta_description = 'My, občania Slovenskej republiky hlásiaci sa ku kresťanskej viere, sme presvedčení, že kresťanstvo je náboženstvo šíriace pokoj, pravdu a úctu ku každému človeku.' %}
        {% set fb_share_version = fb_share_version | default(1) %}
        {% set image_url = absolute_url(asset('build/images/quote-' ~ fb_share_version ~ '.jpg')) %}
        {% set site_url = url('homepage', {version: fb_share_version}) %}

        <meta charset="UTF-8">
        <title>{% block title %}{{ meta_title }}{% endblock %}</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="title" content="{{ meta_title }}">
        <meta name="description" content="{{ meta_description }}">
        <meta name="keywords" content="voľby, kresťania, iniciatíva, 2020">

        <meta property="og:title" content="{{ meta_title }}" />
        <meta property="og:description" content="{{ meta_description }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site_url }}" />
        <meta property="og:image" content="{{ image_url }}" />

        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{ site_url }}">
        <meta property="twitter:title" content="{{ meta_title }}">
        <meta property="twitter:description" content="{{ meta_description }}">
        <meta property="twitter:image" content="{{ image_url }}">

        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="page">
            <div class="logo-holder">
                <a href="/" class="logo">
                    <img src="{{ asset('build/images/logo-white.svg') }}" class="logo-image" alt="Logo Kresťania proti nenávisti v tvare kríža vytvoreného z bodiek">
                </a>
            </div>
            <div class="top-menu">
                <div class="top-menu-link">
                    <a href="/files/volme-naozaj-krestansky-2020.pdf" target="_blank">Vytlačte si volebného sprievodcu<img src="{{ asset('build/images/icon-pdf.png') }}" width="26"></a>
                </div>
                <div class="top-menu-link">
                    <a href="{{ asset('build/files/kpn-vyhlasenie.pdf') }}" target="_blank">Vytlačte si vyhlásenie<img src="{{ asset('build/images/icon-pdf.png') }}" width="26"></a>
                </div>
                <div class="top-menu-link">
                    <a href="https://www.facebook.com/krestaniaprotinenavisti" target="_blank">Sledujte nás<img src="{{ asset('build/images/icon-fb.png') }}" width="32"></a>
                </div>
            </div>
            {% block body %}{% endblock %}
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                        </div>
                        <div class="col-md-12" style="text-align: center;">
                            <a class="btn btn-lg main-fb-share-button" style="background: #4267b2; color: white" href="http://www.facebook.com/sharer/sharer.php?{{ {
                                'u': site_url,
                                'title': meta_title,
                            }|url_encode }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                Zdieľať túto výzvu na Facebooku
                            </a>
                        </div>
                        <div class="col-md-12">
                            <hr>
                        </div>
                        <div class="col-sm-6">
                            <img src="{{ asset('build/images/logo-purple.svg') }}" height="70" alt="Logo Kresťania proti nenávisti v tvare kríža vytvoreného z bodiek">
                        </div>
                        <div class="col-sm-6">
                            <div class="footer-links">
                                <a href="/pravidla-ochrany-osobnych-udajov">Pravidlá ochrany osobných údajov</a>
                            </div>
                            <div class="footer-license">
                                © 2020 Kresťania proti nenávisti, občianska iniciatíva.<br>
                                Všetky práva vyhradené.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
