{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-sm-4">
                <h2>
                    {{ stats.verified }}<br>
                    <small>overených</small>
                </h2>
            </div>
            <div class="col-sm-4">
                <h2>
                    {{ stats.unverified }}<br>
                    <small>neoverených</small>
                </h2>
            </div>
            <div class="col-sm-4">
                <h2>
                    {{ stats.unverified_rate|round(2) }}%<br>
                    <small>podiel neoverených</small>
                </h2>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Čas pridania podpisu
                </th>
                <th>
                    Počet overených podpisov
                </th>
                <th>
                    Počet neoverených podpisov
                </th>
            </tr>
        </thead>
        <tbody>
            {% for hour in hours %}
            <tr>
                <td>
                    <small>
                        od {{ hour.age }}:00:00<br>do {{ hour.age }}:59:59
                    </small>
                </td>
                <td style="vertical-align: middle;">
                    {{ hour.verified }}
                </td>
                <td style="vertical-align: middle;">
                    {{ hour.unverified }}
                    <small>({{ hour.unverified_rate|round(2) }}%)</small>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}